<ng-container *ngIf="this.displayStock==false">
  <div *ngFor="let supplier of this.supplierService.AllSuppliers">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ supplier.companyName }}</mat-card-title>
        <mat-card-subtitle>{{ supplier.supplierId }}</mat-card-subtitle>
        <mat-card-subtitle>{{ supplier.supllierName }}</mat-card-subtitle>
        <mat-card-subtitle>{{ supplier.representative }}</mat-card-subtitle>
        <mat-card-subtitle>{{ supplier.phoneNumber }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button (click)="onSupplierChoose(supplier)" mat-button>Choose Supplier</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
<ng-container *ngIf="this.displayStock==true">
<div *ngFor="let stock of  this.stockService.AllProd">
    <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> {{stock.prodName}} </mat-card-title>
          <mat-card-subtitle>{{stock.price}}</mat-card-subtitle>
          <mat-card-subtitle>Min Anount:{{stock.minAmount}}</mat-card-subtitle>          
        </mat-card-header>
        <mat-card-actions>
          <button (click)="addProdToOrder(stock)" mat-button>addToOrder</button>
        </mat-card-actions>
      </mat-card>
    </div>
    
  <div class="example-button-row">
    <button mat-button class="complete-order-button" (click)="completeOrder()">Complete Order</button>
</div>
</ng-container>